html,
body {
  height: 100%;
}

.form-forgotten-password {
    max-width: 500px;
    /* padding: 1rem; */
    text-align: center;
  
    transition: .3s;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  }
  
  .form-forgotten-password:hover {
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.3);
  }

  .form-forgotten-password input[type="email"] {
    margin-bottom: 10px;
  }