html,
body {
  height: 100%;
}

.form-signup {
  max-width: 400px;
  padding: 1rem;
  text-align: center;

  transition: .3s;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.form-signup:hover {
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.3);
}

.form-signup .form-floating:focus-within {
  z-index: 2;
}

.form-signup input[type="text"] {
    margin-bottom: 10px;
  }

.form-signup input[type="email"] {
  margin-bottom: 10px;
}

.form-signup input[type="password"] {
  margin-bottom: 10px;
}